
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}


.video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1; 
  rotate: 180deg;
  animation: slow-motion 30s infinite;
  opacity: 1;
}

@keyframes slow-motion {
  from { transform: scale(1); }
  to { transform: scale(1.01); }
}

nav {
  position: sticky; top: 0;
  backdrop-filter: blur(10px);
  overflow: hidden;
  background: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255));
  color: rgb(0, 0, 0);
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  width: 100%; 
}
.sticky {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(209, 209, 209, 0.9); /* Slightly transparent */
  box-shadow: 0px 4px 10px rgba(160, 160, 160, 0.2);
  padding: 10px 20px;
  transition: all 0.3s ease-in-out;
  z-index: 100;
}

.navbar {
  background-color: #333;
  color: white;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hamburger {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.hamburger span {
  height: 3px;
  width: 25px;
  background-color: white;
  transition: 0.3s;
}

.menu {
  display: none;
  flex-direction: column;
  background-color: #444;
}

.menu a {
  padding: 1rem;
  color: rgb(0, 0, 0);
  text-decoration: none;
  border-top: 1px solid #555;
}

.menu a:hover {
  background-color: #555;
}

/* Show menu when active */
.menu.active {
  display: flex;
}


nav ul {
  list-style: none;
  display: flex;
  gap: 10px;
}

nav li {
  display: inline;
  padding: 20px;
}

nav a {
  float: left;
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 30px;
}

.pfp {
  display: flex;
  gap: 30px;
  font-size: 20px;
}

.decoration1 {
  background: linear-gradient(rgb(202, 202, 202), rgb(134, 134, 134));
  height: 30px;
  width: 100%;
  margin-bottom: 20px;
  border-radius: 20px;
}

.bio-text {
  color: rgb(0, 0, 0);
  font-size: 25px;
  background: linear-gradient(#cacaca, rgb(196, 196, 196));
  height: 500px;
  width: 500px;
  margin: 90px auto; 
  padding: 30px;
  border-radius: 5%;
  margin-left: 10px;
  margin-bottom: 50px;
}
.bio {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 10vh;
  margin: 20px auto;
}

.bio img {
  display: block;
  margin: 85px auto;  
  width: 100%;
  max-width: 500px;
  height: auto;
  border-radius: 5%;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.bio img:hover {
  transform: scale(1.1);
  box-shadow: 0 10px 20px rgba(196, 196, 196, 0.2);
}
.socialmedias {
  display: flex;         /* arrange in a row */
  gap: 10px;             /* space between icons */
  align-items: center;   /* vertical alignment */
  justify-content: center; /* center them under your text */
}

.youtube {
  width: 180px;
  height: auto;
}

.tiktok {
  width: 80px;
  height: auto;
}

.instagram {
  width: 150px;
  height: auto;
}



.cover {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.asalsekolah {
  font-size: 25px;
  text-align: center;
  color: white;
  background: linear-gradient(rgb(179, 179, 179), rgb(167, 167, 167));
  height: 70px;
  scroll-margin-bottom: 80px;
  padding-top: 1  0px;
}
.asalsekolah-text {
  color: rgb(0, 0, 0);
  font-size: 25px;
  background: linear-gradient(#cacaca, rgb(196, 196, 196));
  height: 160px; /* removed space */
  width: 1000px;
  margin: 90px auto 50px auto; /* top, auto left/right, bottom */
  padding: 10px;
  border-radius: 5%;
  text-align: center; /* centers text inside */
}

.skills {
  font-size: 20px;
  text-align: center;
  color: white;
  background: linear-gradient(rgb(179, 179, 179), rgb(167, 167, 167));
  height: 70px;
  scroll-margin-bottom: 80px;
  padding-top: 10px;
}

.skills-img {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.skills-img img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 10%;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.skills-img img:hover {
  transform: scale(1.3);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card {
  color: white;
  background-color: #a0a0a0;
  padding: 20px;
  border-radius: 10%;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.gallery{
  font-size: 25px;
  text-align: center;
  color: white;
  background: linear-gradient(rgb(185, 185, 185), rgb(185, 185, 185));
  height: 70px;
  scroll-margin-bottom: 80px;
  padding-top: 10px; 
}
.row,
.row-2 {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  padding: 20px 20px;
}

.column,
.column-2 {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img,
.column-2 img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  opacity: 1; /* no transparency bug */

  backface-visibility: hidden; /* prevents flicker */
}

.column img:hover,
.column-2 img:hover {
  transform: scale(1.2);
  box-shadow: 0 600px 700px rgba(0, 0, 0, 0.2);
  opacity: 1; /* stays fully visible */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}


@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}


@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}
#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.9); 
}


.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}


#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}


.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}
.border.rounded.bg-light {
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact {
  font-size: 25px;
  text-align: center;
  color: white;
  background: linear-gradient(rgb(187, 187, 187), rgb(206, 206, 206));
  height: 80px; 
  scroll-margin-bottom: 100px;
  padding-top: 20px; 
}

.contact-fill {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
input[type=text], select, textarea {
  width: 100%; 
  padding: 12px; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: vertical;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

.form-container textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 200px;
}

.form-container textarea:focus {
  background-color: #ddd;
  outline: none;
}

.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}


.form-container .cancel {
  background-color: red;
}

.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}
.animation{
  font-size: 25px;
  text-align: center;
  color: white;
  background: linear-gradient(rgb(187, 187, 187), rgb(206, 206, 206));
  height: 70px;
  scroll-margin-bottom: 80px;
  padding-top: 10px;
}
.animation-video{
  max-width: 100%;
  height: auto;
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}
.blender{
  font-size: 25px;
  text-align: center;
  color: white;
  background: linear-gradient(rgb(179, 179, 179), rgb(167, 167, 167));
  height: 70px;
  scroll-margin-bottom: 80px;
  padding-top: 10px;
}
.blender-img {
  display: inline-block;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 60px 60px;
  margin-right: 100px;
}

.blender-img img {
  width: 400px;
  height: 250px;
  object-fit: cover;
  border-radius: 10%;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.blender-img img:hover {
  transform: scale(1.3);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}


body {
  margin: 0;
  font-family: Arial, sans-serif;
}


@media(min-width: 768px) {
  .hamburger {
    display: none;
  }

  .menu {
    display: flex !important;
    flex-direction: row;
    gap: 1rem;
    background-color: transparent;
  }

  .menu a {
    border: none;
  }
}

.modal {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.9);
}

.modal-content {
  display: block;
  max-width: 90%;
  max-height: 80%;
  margin: auto;
  margin-top: 5%;
  border-radius: 10px;
}

.close {
  position: absolute;
  top: 20px;
  right: 35px;
  color: white;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}
.close:hover {
  color: #ff0000;
}
